apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kyuubi.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kyuubi.labels" . | nindent 4 }}
data:
  kyuubi-defaults.conf: |
    {{- include "kyuubi.kyuubiDefaults" . | nindent 4 }}
  spark-defaults.conf: |
    {{- include "kyuubi.sparkDefaults" . | nindent 4 }}
  {{- if index .Values.kyuubiConf.files "log4j2.xml" }}
  log4j2.xml: |
    {{- tpl (index .Values.kyuubiConf.files "log4j2.xml") . | nindent 4 }}
  {{- else }}
  log4j2.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="INFO">
      <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %c{1.}: %m%n%ex"/>
        </Console>
      </Appenders>
      <Loggers>
        <Root level="INFO">
          <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kyuubi" level="INFO"/>
        <Logger name="org.apache.spark" level="WARN"/>
        <Logger name="org.apache.hadoop" level="WARN"/>
        <Logger name="org.apache.hive" level="WARN"/>
      </Loggers>
    </Configuration>
  {{- end }}
